*.*
legacy/*.*
!run.py
!test.py
!Makefile
!setup.py
!LICENSE
!README.md
!kord/__init__.py
!kord/tests.py
!kord/instruments.py
!kord/keys.py
!kord/degrees.py
!kord/notes.py
!kord/errors.py
!instruments/*.json
